<script src="static/app/services/AssgnSrv.js"></script>
<script src="static/app/controllers/AssignmentCtrl.js"></script>
<div>
    <table>
        <tr>
            <td>
                Assignment Name
            </td>
            <td>
                <input type="text" ng-model="assignment.name">
            </td>
        </tr>
        <tr>
            <td>
                Unique ID ([Course ID] [Passcode])
            </td>
            <td>
                <input type="text" ng-model="assignment.uniqueId">
            </td>
        </tr>
        <tr>

            <td>
                <button ng-click="save(assignment)"> Create </button>
            </td>
        </tr>

    </table>

</div>