<table>
  <tr>
    <td>
      Problems :
    </td>
    <td>
      <span>Problem 1</span>
    </td>
  </tr>
</table>

<div ng-show="uploader.isHTML5">
    <!-- 3. nv-file-over uploader="link" over-class="className" -->
    <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
        Base drop zone
    </div>

    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Another drop zone with its own settings
        </div>
    </div>
</div>
<br>
<h3> Upload Code Here</h3>
<input type="file" nv-file-select="" uploader="uploader" />

<td nowrap>
    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
        <span class="glyphicon glyphicon-trash"></span> Remove
    </button>
</td>